*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#dude{
    position: relative;
}
#dud{
    position: absolute;
    text-align: center;
    top: 35%;
    left: 12%;
    translate: 50%;
}

#dud h1{
    text-align: center;
    color: white;
    font-family: "Marcellus", Sans-serif;
    font-size: 54px;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}
#dud p{
    text-align: center;
    color: white;
    font-family: "Marcellus", Sans-serif;
    font-size: 20px;
    margin-top: 10px;
    
    
}

#dud a{
text-decoration: none;
border: 2px solid white;
color: #fff;
padding: 10px 30px;

}

#dud a:hover{
    background-color: #c0a483;
}

#man{
    position: relative;
}

#men{
    position: absolute;
    text-align: center;
    top: 35%;
    left:12%;
    translate: 50%;
}

#men h1{
    text-align: center;
    color: white;
    font-family: "Marcellus", Sans-serif;
    font-size: 54px;
    text-transform: uppercase;
}
#men p{
    text-align: center;
    color: white;
    font-family: "Marcellus", Sans-serif;
    font-size:20px;
    
}
#men a{
    text-decoration: none;
    border: 2px solid white;
    color: #fff;
    padding: 10px 30px;
    
}
    
 #men a:hover{
        background-color: #c0a483;
 }

 #dude{
    position: relative;
 }
 


.all-header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left{
    display: flex;
}

.left img{
    width: 120px;
    margin-right: 20px;
}

.dropdown{
    margin-right: 10px;
    
}

.dropbtn {
    color: black;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
  }

 .dropbtnn {
    color: black;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
  }
  
  .dropbtnn:hover, .dropbtn:focus {
    text-decoration: underline;
  }

  .dropbtn:hover, .dropbtn:focus {
    text-decoration: underline;
  }
  .dropdownn {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdownn-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdownn-content a {
    color: black;
    padding: 10px 50px;
    text-decoration: none;
    display: block;
  }
  .dropdownn-content a:hover {background-color: #ddd;}
  .show {display:block;}

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 10px 50px;
    text-decoration: none;
    display: block;
  }
  .icons a{
    text-decoration: none;
  }

  .rift i{
    position: relative;
  }

  .rift span{
   
    background-color: #fff;
     color:  black;
     padding: 3px 5px;
     font-size: 13px;
     position: absolute;
     top: 13px;
     border-radius: 100%;

  }

  .dropbtnnn {
    color: black;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
  }
  
  .dropbtnnn:hover, .dropbtn:focus {
    text-decoration: underline;
  }

  .dropbtnnn:hover, .dropbtn:focus {
    text-decoration: underline;
  }
  .dropdownnn {
    position: relative;
    display: inline-block;
  }
  .dropdownnn-content a:hover {background-color: #ddd;}
  .show {display:block;}

  .dropdownnn {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdownnn-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdownnn-content a {
    color: black;
    padding: 10px 50px;
    text-decoration: none;
    display: block;
  }
  .dropdownnn-content a:hover {background-color: #ddd;}
  .show {display:block;}

#log a{
    color: black;
}

#log p{
    color: black;
    cursor: pointer;
}
.mob-all {
    display: none;
}

#b{
    font-size: 20px;
    color: #000;
}
.mob-all img{
    max-height: 22px;
    border: 0;
    vertical-align: top;
    max-width: 100%;
    
}
#a{
    font-size: 20px;
    color: #000;
}

.bg-img{
    background-image: url("https://wpbingosite.com/wordpress/kowine/wp-content/uploads/2021/05/banner9.jpg");
    margin-bottom: 15px;
}

.slider{
    margin-top: 30px;
    
    
}

.slider img{
    width: 100%;
}

.slick-next{
    right: 30px;
}
.slick-prev{
    left: 30px;
    z-index: 111;
} 

.box{
    margin-bottom: 20px;
}
.box img:hover{
    opacity: 0.3;
    transition: 1s;
}

.box img{
    width: 100%;
    opacity: 1;
}

.aku{
    position: relative;
}

.up h2{
    text-align: center;
    color: #000000;
    font-family: "Marcellus", Sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
    margin: 40px 0 30px 0;
}
.up span{
    color: #c0a483;
}

.b{
    background-color: white;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 80px;
    
}

.b h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Marcellus",serif;
    line-height: 58px;
    height: 50px;
    min-width: 168px;
    background: #fff;
    color: #000;
}

.yux{
    padding: 1px 10px;
    position: relative;
}
.new{
    position: relative;
    display: inline-block;
}
.new .imgs{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.new:hover .imgs  {
    display: block;
}
.down{
    position: relative;
    display: inline-block;
}
.down .imgs{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
}
.down:hover .imgs {
    display: block;
}


.upp h2{
    text-align: center;
    color: #000000;
    font-family: "Marcellus", Sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 50px;
    padding: 50px;
}
.upp span{
    color: #c0a483;
}
.titles{
    text-align: center;
    margin-left: 85px;
}
.title-up{
    margin-bottom: 0;
}

.title-mid a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
.extra span {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #c0a483;
    color: white;
    line-height: 1,5rem;
    width: 50px;
    text-align: center;
  }

  .discount span {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgb(158, 12, 12);
    color: white;
    line-height: 1,5rem;
    width: 50px;
    text-align: center;
  }
  .price span{
    font-family: "Marcellus", Sans-serif; ;
  }
  .titles p{
    font-size: 12px;
    margin: 10px 0;
  }

  .together{
    background-image: url(https://wpbingosite.com/wordpress/kowine/wp-content/uploads/2021/05/banner8.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 50px 0px 93px 0px;
    
 }
 .words{
    margin-top: 20px;
 }
 .words h1{
    text-align: center;
    
    color: white;
    
 } 
 .words span{
    color: #c0a483;
 }
.botton{
    text-align: center;
    margin-top: 20px;
}
 
 .botton a{
    padding: 10px 20px;
    color: white;
    background-color:rgb(158, 12, 12);
    text-decoration: none;
 }

 .botton a:hover{
    background-color: #c0a483;
 }

 .top-sellers{
    text-align: center;
    margin-top: 50px;
    
 }
 .top-sellers h1{
  font-size: 1.5rem;
  font-weight: 400;
 }
 .top-sellers span{
    color: #c0a483;
 }
 .card{
    margin-left: 5px;
 }

#frst{
    text-decoration: line-through;
    color: grey;
}
.price span{
color: #c0a483;
}

.top-sellers h1{
    font-family:  "Marcellus", Sans-serif;
    margin-bottom: 30px;
}

.mid-down{
    background-image: url(https://wpbingosite.com/wordpress/kowine/wp-content/uploads/2021/06/about2.jpg);
    background-position: center;
    background-size: auto;
    height: 100%;
}
.boxx-all{
    display:flex ;
    justify-content: space-evenly;
    color: white;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

.boxx i{
    font-size: 80px;
    margin-bottom: 10px;
}

.worrds-up h6{
    font-family: "Marcellus", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}
.icon i{
    margin-bottom: 10px;
}
.icons i{
    color: black;
    font-size: 20px;
    
}
.icons i:hover{
    color: #c0a483;
   
}

.form-all{
    background-image: url(https://wpbingosite.com/wordpress/kowine/wp-content/uploads/2021/05/banner10.jpg);
    padding: 50px;
    margin-bottom: 20px;
    
  }
  .icon{
    text-align: center;
  }
  .icon i{
   font-size:4rem;
   color: white;
   
  }
  .letters{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: "Marcellus", Sans-serif;
    
  }
  
  .form-it{
    text-align: center;
    padding: 20px;
  }
  
  #frm{
    border: none;
    

  }
  #btn{
    border: none;
    color: black;
    background-color: white;
  
  }

  .wrds{
    text-align: center;
    font-family: "Marcellus", Sans-serif;
    margin-top: 40px;
  }
  .wrds span{
    color: #c0a483;
  }
footer{
    background-color:#F6F6F6;
}
  .foot-all h6{
    font-family: "Marcellus", Sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;

}

#pic{
    padding-left: 140px;
}

.con{
    display: none;
}
#yes{
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.form-it{
    color: #fff;
}
#frm{
    text-decoration: underline white;
    padding: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 400;
    font-family: "Marcellus", Sans-serif;
    
}
#frm::placeholder{
    color: white;
    opacity: 1;
}
#btn{
    text-decoration: underline white;
    padding: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 400;
    font-family: "Marcellus", Sans-serif;
    
}

#btn{
    color: white;
}

.finish img{
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 200px;
}
#man{
    position: relative;
}

.pls img{
    width: 100px;
    position: absolute;
    bottom: 0px;
    left: 10%;
    animation:animate 3s linear infinite;
}
.plss img{
    width: 500px;
    position: absolute;
    bottom: 0px;
    right: 3%;
    animation:animatee 3s linear infinite;
}
.gud img{
    width: 70px;
    position: absolute;
    bottom: 30px;
    right: 7%;
    animation: go 3s linear infinite;
    
}
.gudd img{
    width: 70px;
    position: absolute;
    bottom: 30px;
    left: 7%;
    animation: goo  3s linear infinite;
    
}
.finishh img{
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 200px;
}
#sidebar a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-family: "Marcellus", Sans-serif;
    display: block;
    
}
#sidebar{
    display: none;
    background-color: white;
    align-items: flex-start;
    padding: 20px;
    width: 70%;
    margin-top: 10px;
}

.active{
    display: block !important;
}

.activee{
    display: block !important;
}

.obaa{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search{
    position: absolute;
    right: 17%;
    display: none;
  
}
.btn-primary{
    margin-left: 135px;
}
#sign{
    width: 20%;
    position: absolute;
    right: 16%;
    z-index: 999;
    border: 1px solid;
    padding: 15px;
    background-color: darkgray;
    border-radius: 10px;
    display: none;
}


@keyframes go{
    0%{
        width: 70px;
   }

   50%{
      width: 80px;
   }
   100%{
       width: 70px;
   }

    }

    @keyframes goo{
        0%{
            width: 70px;
       }
    
       50%{
          width: 80px;
       }
       100%{
           width: 70px;
       }
    
        }

    
@keyframes animate {
    0%{
         left:10%;
    }

    50%{
       left:12%;
    }
    100%{
        left: 10%;
    }
    
}

@keyframes animatee {
    0%{
        right: 3%;
    }

    50%{
        right: 5%;
    }
    100%{
        right: 3%;
    }
    

    
}
@media(max-width:576px){
.all-header{
    display: none;
}
.mob{
    margin-top: 20px;
}
.mob-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dude img{
    display: none;
}
.ww{
    display: none;
}
#men{
    position: absolute;
    text-align: center;
    top: -4%;
    left: -40%;
    transform: 50%;
    translate: 50%;
}
#men h1{
    margin: 25px 0;
}
#men p{
    display: none;
}
#man img{
 width: 150%;
}
#frm{
    font-size: 25px;
}
#yes{
    margin-bottom: 10px;
}

.titles{
    margin: 0;
}

.pls{
    display: none;
}
.plss{
    display: none;
}

.finish{
    display: none;
}
.finishh{
    display: none;
}

.gud{
    display: none;
}
.gudd{
    display: none;
}

.rift span{
    padding: 3px 0px;
    font-size: 10px;
}

}